{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}Bucketie{% endblock title %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    {% endblock stylesheets %}
</head>

<body>
    <div class="page">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Bucketie</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bucketie</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active" data-bind="if: authVM.isLoggedIn()"><a href="#">My BucketLists <span class="sr-only">(current)</span></a></li>
              <li data-bind="if: authVM.isLoggedIn()"><a href="#">Create BucketList</a></li>
              <li data-bind=""><a href="#">Support</a></li>
              <li data-bind=""><a href="#">FAQS</a></li>
              <li data-bind="if: authVM.isLoggedIn()"><a href="#" data-bind="click: authVM.logoutUser">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <section class="container-fluid main-body">
      {% block content %}
      {% endblock content %}
      </section>
    </div>


    {% block js %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
      <!-- KnockoutJS -->
      <script src="{% static "bower_components/knockout/dist/knockout.js" %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

      <!-- ViewModel -->
      <script src="{% static "js/helpers.js" %}"></script>
      <script src="{% static "js/IndexViewModel.js" %}"></script>
      <script src="{% static "js/AuthViewModel.js" %}"></script>
      <script>
        var apiURL = "http://localhost:8000/";
        var siteURL = "http://localhost:8000/";
        var indexVM = new IndexViewModel();
        ko.applyBindings(indexVM);
        if(!indexVM.authVM.isLoggedIn()){
          if(window.location.href == siteURL){
             1==1;
          }
          else{
            window.location.href = siteURL;
          } 
        } 
      </script>
      {% endblock js %}
</body>
</html>